.explore {
  h2 {
    text-align: center;
  }
  .explores {
    padding-top: 40px;
  }

  .contact-text {
    padding-top: 111px;

    span {
      padding-top: 40px;
    }
  }


  
}

.explore2 {
  h2 {
    text-align: start;
  }
}