.integration {
  h2 {
    text-align: center;
  }

  .box {
    padding-top: 70px;


    .card {
      background-color: #fff;
      box-shadow: 0px 4px 36px 0px #0000000F;
      padding: 30px;
      border-radius: 12px;
      margin-right: 30px;
      border: 0;

      img {
        width: 84px;
        height: 84px;
      }

      .box-heading {
        padding-top: 30px;

        span {
          font-family: Inter;
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: 0%;
        }

        p {
          padding-top: 12px;
        }

        button {
          margin-top: 30px;
          border: none;
          font-family: Inter;
          font-weight: 500;
          color: #0D0D0D;
          background: transparent;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0px;



          svg {
            height: 24px;
            width: 24px;
          }
        }

        button:hover {
          padding: 6px 16px;
          border-radius: 60px;
          background-color: #F2F2F2;
        }
      }
    }
  }
}
