.resources {
  h2 {
    text-align: center;
  }

  .resources-box {
    border: none;
    margin-right: 30px;
    background-color: transparent;

    .box {
      font-family: Inter;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0px;
      background-color: #F2F2F2;
      padding: 6px 16px;
      margin: 20px 0;

    }

  }
}